<% provide(:title, t(".title")) %>
<h1><%= t ".header" %></h1>
<p>
    <%= t ".para_1" %>
    <a href="http://www.railstutorial.org/help"><%= t ".link_rail" %></a>.
    <%= t ".para_2" %>
    <a href="http://www.railstutorial.org/book"><em><%= t ".link_rail_tutorial" %></em>
    <%= t ".link_rail_tutorial_1" %></a>
</p>
