<footer class="footer">
  <small>
    <a href="http://www.railstutorial.org/"><%= t ".link1" %></a>
    <a href="http://www.michaelhartl.com/"><%= t ".link2" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"> <%= t ".news" %> </a></li>
    </ul>
  </nav>
</footer>
